In [3]:
# tuple : immutable 

t = ('A')     # str
t1 = ('A' ,)  # tuple

print(type(t))
print(type(t1))

<class 'str'>
<class 'tuple'>

In [5]:
t = 'A' , 
type(t)

tuple

In [9]:
t2 = 'A' , 'b' , "C"
type(t2)

tuple

In [13]:
# tuples are immutable

t = (1,2,3)
t[0] = 7        # TypeError

# But we can change elements of list in tuple

t1 = (1 , 'a' , ['x' , 'y' , 'z'])

t1[1] = 'A'     # TypeError

t1[2][1] = 'Yee'  # no error

print(t1)

(1, 'a', ['x', 'Yee', 'z'])

In [17]:
# concat 

t = (1,2,3) + ('A' , 'b' , "C")
t

(1, 2, 3, 'A', 'b', 'C')

In [19]:
# repeating elements

t = ('abc',) * 5
t

('abc', 'abc', 'abc', 'abc', 'abc')

In [21]:
t.count('abc')

5

In [27]:
t.index('abc')   # first occurace

0

In [29]:
print('abc' in t)

True

In [37]:
new_t2 = sorted(t2)

new_t2

# t2.sort() not possible becoz u cant change tuple

['A', 'C', 'b']