In [28]:
# data types : primitive & non-primitive

# non-primitive : list , tuple , set , dict

In [30]:
# list : ordered collection of items , its mutable
# in sq brackets : [ ]

l = []   # declaring list (empty list)

type(l)

list

In [36]:
l = [3,4.1,True,'axe']

print(l)
print(l[1])

# items of any datatype

[3, 4.1, True, 'axe']
4.1

In [40]:
l[1] = 5.55 # updating/modifying

print(l[1])

# since its mutable

5.55

In [44]:
# tuple : ordered collection of items but immutable
# in round brackets : ( )

t = ()
type(t)

tuple

In [50]:
tup = ('e' , 4 ,7.5)

print(tup)
print(tup[2])

('e', 4, 7.5)
7.5

In [54]:
tup[2] = 9.9

# TypeError , since tuple is IMMUTABLE

In [74]:
# set : unordered collection of UNIQUE items (no duplicates)

s = {3,4,5,6,"seven"}

print("s :",s,type(s)) 

s1 = {4,5,'six',4}

print("s1 :",s1,type(s1))

# duplicate 4 is removed

s : {3, 4, 5, 6, 'seven'} <class 'set'>
s1 : {'six', 4, 5} <class 'set'>

In [85]:
s1[0]

# TypeError , since its UNORDERED , no indexing

In [89]:
# dictionary ( dict ) : unordered collection of key-value pairs

d = {}  

type(d)   # empty dict

dict

In [97]:
d = {1:"one",2:'two',3:'three'}
print(d)

{1: 'one', 2: 'two', 3: 'three'}

In [110]:
d[2]
# d [key] , use key to get value

d[4]
# KeyError , since thrs no key=4

'two'